<div class="full-container">
<mat-toolbar color="primary" *ngIf="false">
  <mat-toolbar-row>
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <span class="app-title" i18n>12-Character Battle</span>
    <span class="spacer"></span>
    <button mat-flat-button i18n="New game button label" color="basic"
        *ngIf="showNewGameButton()"
        (click)="newBattle()">
      New
    </button>
    &nbsp;
    <button mat-flat-button i18n="Undo button label" color="basic"
        *ngIf="showUndoButton()"
        (click)="undo()">
      Undo
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
      class="sidenav-content">
      <mat-form-field>
          <mat-label i18n="Label for a language dropdown">Language</mat-label>
          <mat-select [(value)]="selectedLanguage" (selectionChange)="changeLocale($event)">
            <mat-option *ngFor="let language of LANGUAGES" [value]="language.code">
              {{language.display}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n="Label for a visual theme dropdown">Theme</mat-label>
          <mat-select [(value)]="selectedTheme" (selectionChange)="changeTheme($event)">
            <mat-option *ngFor="let theme of getThemes()" [value]="theme.name">
              {{theme.name}} <img [src]="randomThemeImage(theme)" class="themeIcon">
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-divider></mat-divider>

        <mat-card class="footer">
          <mat-card-content i18n="Page footer">
            12cb app made by <a href="https://twitter.com/jonnjonnSSB" target="_blank">jonnjonn</a>. Code available on <a href="https://github.com/hopskipnfall/12cb" target="_blank">Github</a>.
          </mat-card-content>
        </mat-card>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="outlet-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

</div>
