<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span i18n>12-Character Battle</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="outlet-wrapper">
<router-outlet></router-outlet>
</div>

<mat-divider></mat-divider>

<mat-card class="footer">
    <mat-card-content i18n="Page footer">
      12cb app made by <a href="https://twitter.com/jonnjonnSSB" target="_blank">jonnjonn</a>. Code available on <a href="https://github.com/hopskipnfall/12cb" target="_blank">Github</a>.
    </mat-card-content>
  </mat-card>
