<mat-card class="message-box" *ngIf="player1Selected && player2Selected && !gameOver">
  <mat-card-header>
    <mat-card-title>Who won?</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-grid-list cols="2" rowHeight="1:1">
      <div class="centered-overlay vs-overlay">vs</div>
      <mat-grid-tile class="character-tile"
          [ngClass]="{'round-winner': roundWinner == 'player1', 'round-loser': roundWinner == 'player2'}"
          (click)="playerCharClicked('player1')">
          <div class="char-background"
              [style.background-image]="player1Selected ? 'url(assets/icons/sekirei/' + player1Selected.name + '.png)' : ''">
            <span *ngFor="let stock of range(p1RemainingStocks)">💎</span>
          </div>
      </mat-grid-tile>
      <mat-grid-tile class="character-tile" 
          [ngClass]="{'round-winner': roundWinner == 'player2', 'round-loser': roundWinner == 'player1'}"
          (click)="playerCharClicked('player2')">
          <div class="char-background"
              [style.background-image]="player2Selected ? 'url(assets/icons/sekirei/' + player2Selected.name + '.png)' : ''">
            <span *ngFor="let stock of range(p2RemainingStocks)">💎</span>
          </div>
      </mat-grid-tile>
    </mat-grid-list>
    <div *ngIf="roundWinner">
    <p>How many stocks were left?</p>
    <mat-form-field placeholder="thingy">
    <mat-chip-list>
      <mat-chip
          *ngFor="let r of range(initialStockCount)"
          [selected]="remainingStocksSelected == r + 1"
          [disabled]="roundWinner == 'player1' ? player1Selected.stocks < r + 1 : player2Selected.stocks < r + 1"
          (click)="remainingStocksSelected = r + 1">{{r + 1}}</mat-chip>
    </mat-chip-list>
    </mat-form-field>

    <button mat-raised-button
        color="primary"
        [disabled]="remainingStocksSelected == 0"
        (click)="submitRound()">Submit</button>
    </div>
    
  </mat-card-content>
</mat-card>

<div class="wrapper">
<app-character-grid
    [playerName]="player1Name"
    i18n-playerNamePlaceholder
    playerNamePlaceholder="Player 1"
    [selectedCharacter]="player1Selected"
    [playerSnapshot]="snapshot.player1"
    [selectMode]="p1SelectMode"
    (clickCharacter)="characterClicked('player1', $event)"
    [readyToFight]="player1Selected && !player2Selected && initialCharSelect"
    [initialStockCount]="initialStockCount"></app-character-grid>

<app-character-grid
    [playerName]="player2Name"
    i18n-playerNamePlaceholder
    playerNamePlaceholder="Player 2"
    [selectedCharacter]="player2Selected"
    [playerSnapshot]="snapshot.player2"
    [selectMode]="p2SelectMode"
    (clickCharacter)="characterClicked('player2', $event)"
    [readyToFight]="player2Selected && !player1Selected && initialCharSelect"
    [initialStockCount]="initialStockCount"></app-character-grid>
</div>

<mat-card class="message-box" *ngIf="gameOver">
<mat-card-header>
  <mat-card-title>Replay</mat-card-title>
</mat-card-header>
<mat-card-content>

<mat-grid-list cols="1" rowHeight="2:1">
  <mat-grid-tile
      *ngFor="let round of getHistory(); let i = index">
      {{round.player1Character}}
    <!-- <mat-grid-list cols="2">
      <mat-grid-tile>
        {{round.player1Character}}
      </mat-grid-tile>
      <mat-grid-tile>
        {{round.player2Character}}
      </mat-grid-tile>
    </mat-grid-list> -->


  </mat-grid-tile> 
</mat-grid-list>

</mat-card-content>
</mat-card>
