.message-box
  margin-bottom: 10px

.wrapper
  display: flex

.character-tile
  background-size: contain
  background-repeat: no-repeat
  background-size: 90%
  background-position: center

.centered-overlay
  position: absolute
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0
  top: 0
  bottom: 0
  align-items: center
  justify-content: center
  display: flex
  z-index: 10

.vs-overlay
  font-size: 35px
  pointer-events: none

.round-winner
  background-color: #929292
  border-radius: 10px

.round-loser
  opacity: 0.25
  border-radius: 10px
