.characterGrid
  display: flex

.player-card
  margin-left: 5px
  margin-right: 5px

  padding: 7px

  @media screen and (max-width: 1000px)
    width: 155px

  @media screen and (max-width: 400px)
    width: 130px

  @media screen and (min-width: 1000px)
    width: 200px

.character-tile
  background-size: contain
  background-repeat: no-repeat

.button-overlay
  position: absolute
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0
  top: 0
  bottom: 0
  align-items: center
  justify-content: center
  display: flex
  z-index: 10
  background-color: #616060
  border-radius: 10px

.ready-to-fight
  width: 100%
  text-align: center
  vertical-align: middle
  font-weight: bold
  font-size: 30pt

.transparent-blocker
  position: absolute
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0
  bottom: 0
  top: 0
  z-index: 9
  display: flex
  background-color: white
  opacity: 0.7

.dead
  opacity: 0.25
  filter: grayscale(100%)

.dying
  opacity: 0.7

.image-bg
  height: 100%
  background-size: contain
  background-repeat: no-repeat
  display: flex
  flex-direction: column
  flex-grow: 1

$tile-bg: #616060//#929292;

.selectable 
  animation: 4s ease 2s pulse infinite
  background: $tile-bg
  border-radius: 6px
  float: left
  transform: scale(0.95)

// Loop from 1-9.
@for $i from 1 through 12
  .selectable 
    
    // :nth-child(1-9) 
    &:nth-child(#{$i}) 
      
      // Delay the animation. Delay increases as items loop.
      animation-delay: $i * (1s / 18)

@keyframes pulse 
  3% 
    // background: $tile-bg
    transform: scale(0.92)

  6% 
    // background: $tile-bg
    transform: scale(0.95)

  9% 
    background: darken($tile-bg, 9%)
    transform: scale(0.99)
  
  12% 
    // background: $tile-bg
    transform: scale(0.95)

  15%
    background: $tile-bg
  

